body {
    font-family: Open Sans;
    width: 1440px;
    color: #F7F7F7;
}

.header__wrapper {
  padding-left: 120px;
  background-image: url(assets/hero-img.png);
}

.header {
  display: flex;
  width: 1200px;
}

.header__logo {
  display: flex;
}

.header__img {
  padding-top: 14px;
}

.header__title {
  font-family: Roboto;
  font-size: 32px;
  line-height: 60px;
  text-transform: uppercase;
  padding-left: 15px;
  padding-top: 20px;
}

.top-menu {
  display: flex;
  padding-left: 500px;
  width: 480px;
  justify-content: space-between;
  padding-top: 21px;
  font-size: 23px;
  line-height: 60px;
  
}

.top-menu__link {
  text-decoration: none;
  color: #F7F7F7;
}

.top-menu__link:hover {
  text-decoration: underline;
}

.top-menu__img {
  cursor: pointer;
}

.top-menu__button {
  border: 2px solid #CD6326;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 23px;
  padding: 10px 23px;  
  color: #F7F7F7;
  background: none;
  cursor: pointer;
}

.top-menu__button:hover {
  border: 2px solid #CD6326;
  background-color: #CD6326;
}

.top-menu__button:active {
  border: 2px solid #8F5613;
  background-color: #8F5613;
}

.survival {
  padding-top: 120px;
}

.survival__title {
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 2px;
  color: #CD6326;
}

.survival__text {
  padding-top: 51px;
  font-size: 18px;
  line-height: 27px;
  width: 274px;
}

.survival__button {
  margin-top: 49px;
  background-color: #CD6326;
  border-radius: 5px;
  border: none;
  font-family: Roboto;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  color: #F7F7F7;
  padding: 17px 43px;
  margin-bottom: 240px;
  cursor: pointer;
}

.survival__button:hover {
  background-color: #E39128;
}

.survival__button:active {
  background-color: #8F5613;
}

.articles {
  background-color: #CCCCCC;
  position: relative;
}

.articles__pagination_left {
  position: absolute;
  left: 122px;
  top: 531px;
  cursor: pointer;
}

.articles__pagination_right {
  position: absolute;
  right: 120px;
  top: 531px;
  cursor: pointer;
}

.articles__title {
  padding-top: 120px;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #333333;
}

.articles__subtitle {
  padding-top: 20px;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #666666;
}

.articles__cards {
  display: flex;
  width: 1020px;
  justify-content: space-between;
  padding-left: 210px;
  padding-top: 120px;
}

.card {
  width: 300px;
  height: 360px;
}

.card__deer {
  background-image: url(assets/main-deer.jpg);
}

.card__squirrel {
  background-image: url(assets/main-squirrel.jpg);
}

.card__bird {
  background-image: url(assets/main-bird.jpg);
}

.card__title {
  padding-top: 247px;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.card__subtitle {
  font-size: 17px;
  padding-top: 15px;
  text-align: center;
}

.notification {
  padding-top: 240px;
  padding-left: 389px;
  padding-bottom: 240px;
}

.notification__title {
  padding-left: 82px;
  font-size: 27px;
  line-height: 40px;
  color: #333333;
}

form {
    padding-top: 59px;
    display:flex;
    flex-direction:row;

  }

  input {
    box-sizing: border-box;
    border:none;
    width: 540px;
    height: 62px;
    border: 1px solid #666666;
    background: none;
  }

  input:focus {
    outline: none;
  }

  input[type="text"] {
   padding-left: 15px;
   padding-top: 12px;
  }

  .subsc-place::placeholder {
   opacity: 0.5;
   font-family: Roboto;
   font-size: 23px;
   color: #666666;
  }

  input[type="text"]:active {

   }

  .notification__button {
    height: 62px;
    width: 122px;
    background-color: #CD6326;
    color: #F7F7F7;
    font-family: Roboto;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    border: 1px solid #CD6326;
    border-radius: 0px 5px 5px 0px;
    }

.notification__button:hover {
    background-color: #E39128;
}

.notification__button:active {
    background-color: #8F5613;
}

.footer {
  background-image: url(assets/footer-img.jpg);
  display: flex;
  padding-top: 150px;
  padding-left: 120px;
  padding-bottom: 149px;
}

.footer__logo {
  display: flex;
}

.footer__title {
  font-family: Roboto;
  font-size: 32px;
  line-height: 60px;
  text-transform: uppercase;
  padding-left: 15px;
}

.footer__nav {
  display: flex;
  padding-left: 139px;
  padding-top: 19px;
  width: 475px;
  justify-content: space-between;
}

.footer__nav_link {
  font-size: 23px;
  cursor: pointer;
}

.footer__nav_link:hover {
  text-decoration: underline;
}

.footer__socials {
  display: flex;
  padding-left: 125px;
  padding-top: 10px;
  width: 240px;
  justify-content: space-between;
}

.footer__socials_link  {
  cursor: pointer;
}